<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSHealthShareUsageDescription</key>
  <string>We need access to your health data to track your fitness progress.</string>
  <key>NSHealthUpdateUsageDescription</key>
  <string>We need permission to save your workout data to Health.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>We need your location to track your activities.</string>
  <key>NSContactsUsageDescription</key>
  <string>We need access to your contacts to connect with friends.</string>
</dict>
</plist>
